@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Outfit-Black;
    src: url("../../public/assets/Font/Outfit-Black.ttf");
}
@font-face {
    font-family: Outfit-Regular;
    src: url("../../public/assets/Font/Outfit-Regular.ttf");
}
@font-face {
    font-family: Outfit-Light;
    src: url("../../public/assets/Font/Outfit-Light.ttf");
}
@font-face {
    font-family: Outfit-Bold;
    src: url("../../public/assets/Font/Outfit-Bold.ttf");
}
.blackFont {
    font-family: Outfit-Black;
}
.regularFont {
    font-family: Outfit-Regular;
}
.lightFont {
    font-family: Outfit-Light;
}
.boldFont {
    font-family: Outfit-Bold;
}
.max-w-app {
    @apply max-w-7xl mx-auto py-2 px-4;
}
.max-w-hero {
    @apply 2xl:max-w-[1500px] lg:max-w-7xl md:max-w-5xl mx-auto py-20;
}
.alert-success {
    @apply m-2 p-4 bg-green-300 text-green-700 rounded-lg;
}
.alert-danger {
    @apply m-2 p-4 bg-red-300 text-red-700 rounded-lg;
}
.focus-danger {
    @apply ring-red-400 border-red-400;
}
.focus-form {
    @apply focus:ring-yellow-400 focus:border-yellow-400;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: #e7bd5f;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}
#menu-toggle:checked + #menu {
    display: block;
}
.hover\:grow {
    transition: all 0.3s;
    transform: scale(1);
}
.hover\:grow:hover {
    transform: scale(1.02);
}
#sortbox:checked ~ #sortboxmenu {
    opacity: 1;
}
#sortboxlg:checked ~ #sortboxmenulg {
    opacity: 1;
}
@media (min-width: 800px) and (max-width: 1023px) {
    .res-size {
        font-size: 96px;
    }
}
